<header class="topbar">
  <div class="left-icons">
    <img src="/assets/images/icons8-top-menu-50.png" alt="Menu" class="icon menu-icon" id="mobile-menu-toggle" />
    <img src="/assets/images/icons8-search-30.png" alt="Search" class="icon search-icon" />
  </div>

  <div class="logo">UrbanSaarthi</div>

  <nav id="main-nav">
    <ul>
      <li><a href="#hero" class="nav-link">Home</a></li>
      <li><a href="#about" class="nav-link">About us</a></li>
      <li><a href="#services" class="nav-link">Services</a></li>
      <li><a href="/blog" class="nav-link">Blog</a></li>
      <li><a href="#contact" class="nav-link">Contact us</a></li>
      <li><a href="/users/login" class="login-btn">Login</a></li>
      <li><a href="/users/register" class="signup-btn">Signup</a></li>
    </ul>
  </nav>
</header>